body {
    background-color: #F0F8FF;
}

.page-responsive-container {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    width: calc(100svw - 40px * 2);
    height: calc(100svh - 40px * 2);
    border-radius: 40px;
}