
@font-face {
  font-family: "Sora";
  src: url("../fonts/Sora-Variable.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body {
    background-color: #F0F8FF;
}

.page-responsive-container {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    width: calc(100svw - 40px * 2);
    height: calc(100svh - 40px * 2);
    border-radius: 40px;
}

.app-cursor {
    position: fixed;
    left: 0;
    top: 0;
}

.slide-responsive-container {
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    width: 100%;
    height: 100%;
    &#introduction {
        h1 {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            color: #000;
            text-align: center;
            font-family: Sora;
            font-size: 96px;
            font-style: normal;
            width: 100%;
            font-weight: 400;
            line-height: normal;

        }
    }
    &#statcompany {
        h2 {
            position: absolute;
            color: #000;
            left: 60px;
            top: 60px;
            font-family: Sora;
            font-size: 48px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;

        }
        .div-flex-graphic {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 100px;
            display: inline-flex;
            align-items: center;
            gap: 67px;
            p {
                color: #000;
                text-align: center;
                font-family: Sora;
                font-size: 32px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;

            }
            

        }
    }
    &#statcompany2 {
        h2 {
            position: absolute;
            color: #000;
            left: 60px;
            top: 60px;
            font-family: Sora;
            font-size: 48px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;

        }
        .div-flex-graphic {
            position: absolute;
            display: inline-flex;
            align-items: flex-end;
            gap: 87px;
            left: 50%;
            transform: translateX(-50%);
            bottom: 100px;
            .div-flex-elements {
                display: flex;
                align-items: flex-end;
                gap: 39px;
                .div-column {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 15px;
                    p {
                        align-self: stretch;
                        color: #000;
                        text-align: center;
                        font-family: Sora;
                        font-size: 36px;
                        font-style: normal;
                        font-weight: 300;
                        line-height: normal;

                    }
                    .div-visual-1 {
                        position: relative;
                        width: 125.0px;

                        height: calc(0svh);
                        background: #EBEBEB;
                        &.active {
                            transition: 500ms ease-in-out;
                            transition-delay: 0.25s!important;
                            height: calc(5svh * 1);
                        }
                    }
                    .div-visual-2 {
                        position: relative;
                        width: 125.0px;

                        height: calc(5svh * 0);

                        align-self: stretch;
                        opacity: 0.2;
                        
                        transition: 500ms ease-in-out;
                        transition-delay: 0.5s!important;
                        background: #F00;

                        &.active {
                            transition: 500ms ease-in-out;
                            transition-delay: 0.5s!important;
                            height: calc(5svh * 10);
                        }
                    }
                    

                }
            }
            h3 {
                color: #000;
                font-family: Sora;
                font-size: 36px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                width: 607.0px;


            }

        }
    }

    &#introsimu {
        h1 {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            color: #000;
            text-align: center;
            font-family: Sora;
            font-size: 64px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;

            width: 100%;


        }
    }

    &#email1 {
      .div-window-container {
        .div-sidebar-mail {
            display: flex;
            padding: 10px 0;
            flex-direction: column;
            align-items: flex-start;
            align-self: stretch;
            .div-button-side {
                display: flex;
                padding: 10px;
                align-items: flex-start;
                gap: 10px;
                border-radius: 0 999px 999px 0;
                
                width: calc(200.0px - 20px);
                height: calc(36.0px - 20px);

                &.select {
                    background: rgba(255, 0, 0, 0.20);
                }
                .box-case {
                    width: 16.0px;
                    height: 16.0px;
                    flex-shrink: 0;
                    border-radius: 5px;
                    background: #D8D8D8;


                }
                h5 {
                    flex: 1 0 0;
                    color: #000;
                    font-family: Sora;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;

                }
                p {
                    color: #000;
                    text-align: right;
                    font-family: Sora;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: normal;

                }
                .skeleton-text {
                    width: 72.0px;
                    height: 15.0px;
                    border-radius: 555px;
                    background: #D8D8D8;
                }
            }
        }
        .container-mail-list {
            display: flex;
            padding: 10px;
            flex-direction: column;
            align-items: flex-start;
            flex: 1 0 0;
            align-self: stretch;
            background: #F0F8FF;
            .content-flex-zone {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                flex: 1 0 0;
                align-self: stretch;
                width: 100%;
                height: 100%;

                transform: translateY(50px);
                opacity: 0;
                transition: 300ms ease-in-out;
                &.active {
                    transform: translateY(0px);
                    opacity: 1;
                    transition: 300ms ease-in-out;
                }
            .mail-div {
                position: relative;
                display: flex;
                overflow: hidden;
                padding: 10px 15px;
                align-items: center;
                gap: 15px;
                align-self: stretch;
                border-bottom: 1px solid #E5E5E5;

                &.read {
                    background: rgba(0, 0, 0, 0.05);
                }

                &.shine {
                    &::after {
                        content: "";
                        position: absolute;
                        top: -50%;
                        left: -40%;
                        width: 30%;
                        height: 200%;
                        z-index: -1;

                        background: rgba(255, 255, 255, 0.692);
                        transform: rotate(-20deg);
                        pointer-events: none;

                        animation: shine 2s ease-in-out 3;
                    }
                }

                @keyframes shine {
                    0% {
                        left: -40%;
                    }

                    100% {
                        left: 120%;
                    }
                }
            
                    
                    .check-box {
                        width: 19.0px;
                        height: 19.0px;
                        border-radius: 5px;
                        border: 1.5px solid #727679;


                    }
                    h4 {
                        color: #000;
                        font-family: Sora;
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 300;
                        line-height: normal;

                    }
                    .skeleton-title {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 555px;
                        background: #D8D8D8;
                        width: 72.0px;
                        height: 15.0px;

                    }
                    .skeleton-text {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 555px;
                        background: #D8D8D8;
                        width: 448.0px;
                        height: 15.0px;


                    }
                    p {
                        color: #000;
                        font-family: Sora;
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;

                    }
                    .div-flex-end {
                        display: flex;
                        justify-content: flex-end;
                        align-items: center;
                        gap: 10px;
                        flex: 1 0 0;
                        p {
                            color: #000;
                            font-family: Sora;
                            font-size: 12px;
                            font-style: normal;
                            font-weight: 300;
                            line-height: normal;
                            opacity: 0.5;

                        }
                        .skeleton-text {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border-radius: 555px;
                            background: #D8D8D8;
                            width: 72.0px;
                            height: 15.0px;


                        }
                    }
                }
            }
        }
      }
    }

     &#email2 {

        .div-download-display-flex {
                position: absolute;
                right: 12%;
                top: 5%;
                z-index: 2;

                display: inline-flex;
                width: calc(392px - 26px * 2);
                height: calc(105px - 24px * 2);
                padding: 24px 26px;

                align-items: center;
                gap: 10px;

                border-radius: 14px;
                border: 1px solid rgba(0, 0, 0, 0.06);
                background: #E4EBF2;

                opacity: 0;
                transform: translateY(-20px);
                animation: download-appear 0.6s ease-out 2s forwards;

                .div-icon-container {
                    display: flex;
                    padding: 5px;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;

                    border-radius: 999px;
                }

                .div-content-flex {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;

                    p {
                        align-self: stretch;

                        color: #000;
                        text-align: right;
                        font-family: Sora;
                        font-size: 24px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                    }

                    .div-progress-bar {
                        width: 100%;
                        height: 5px;

                        background-color: #E4EBF2;

                        .div-color {
                            width: 0;
                            height: 100%;

                            background-color: #5F42FF;

                            animation: download-progress 4s 2.6s forwards;
                        }
                    }
                }
            }


            @keyframes download-appear {
                from {
                    opacity: 0;
                    transform: translateY(-20px);
                }

                to {
                    opacity: 1;
                    transform: translateY(0);
                }
            }


            @keyframes download-progress {
                0% {
                    width: 0%;
                }

                10% {
                    width: 8%;
                }

                18% {
                    width: 14%;
                }

                27% {
                    width: 25%;
                }

                35% {
                    width: 29%;
                }

                43% {
                    width: 43%;
                }

                51% {
                    width: 47%;
                }

                60% {
                    width: 62%;
                }

                68% {
                    width: 67%;
                }

                76% {
                    width: 78%;
                }

                84% {
                    width: 81%;
                }

                92% {
                    width: 94%;
                }

                100% {
                    width: 100%;
                }
            }


      .div-window-container {
        .div-sidebar-mail {
            display: flex;
            padding: 10px 0;
            flex-direction: column;
            align-items: flex-start;
            align-self: stretch;
            .div-button-side {
                display: flex;
                padding: 10px;
                align-items: flex-start;
                gap: 10px;
                border-radius: 0 999px 999px 0;
                
                width: calc(200.0px - 20px);
                height: calc(36.0px - 20px);

                &.select {
                    background: rgba(255, 0, 0, 0.20);
                }
                .box-case {
                    width: 16.0px;
                    height: 16.0px;
                    flex-shrink: 0;
                    border-radius: 5px;
                    background: #D8D8D8;


                }
                h5 {
                    flex: 1 0 0;
                    color: #000;
                    font-family: Sora;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;

                }
                p {
                    color: #000;
                    text-align: right;
                    font-family: Sora;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: normal;

                }
                .skeleton-text {
                    width: 72.0px;
                    height: 15.0px;
                    border-radius: 555px;
                    background: #D8D8D8;
                }
            }
        }
        .div-flex-container-mail {
            display: flex;
            flex-direction: column;
            align-items: center;
            flex: 1 0 0;
            align-self: stretch;
            background: #F0F8FF;
            transform: translateY(50px);
            opacity: 0;
            transition: 300ms ease-in-out;
            &.active {
                transform: translateY(0px);
                opacity: 1;
                transition: 300ms ease-in-out;
            }
            .div-header-mail {
                display: flex;
                padding: 15px 10px;
                align-items: flex-start;
                gap: 10px;
                align-self: stretch;
                background: #FFF;
                .div-profile {
                    width: 68.0px;
                    height: 68.0px;
                    border-radius: 999px;
                    background: #E4EBF2;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    p {
                        color: #000;
                        text-align: center;
                        font-family: Sora;
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;

                    }
                }
                .div-flex-column {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 10px;
                    p {
                        color: #000;
                        text-align: right;
                        font-family: Sora;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        opacity: 1;
                        line-height: normal;

                    }
                    .div-flex {
                            display: flex;
                            align-items: flex-start;
                            gap: 10px;
                            align-self: stretch;
                            h2 {
                                color: #000;
                                text-align: right;
                                font-family: Sora;
                                font-size: 20px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: normal;

                            }
                            p {
                                color: #000;
                                text-align: right;
                                font-family: Sora;
                                font-size: 16px;
                                font-style: normal;
                                font-weight: 300;
                                line-height: normal;
                                opacity: 0.8;

                            }

                    }

                }
            }
            .div.container-flex-mail {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 23px;
                align-self: stretch;
                h2 {
                    color: #02F;
                    text-align: center;
                    font-family: Sora;
                    font-size: 28px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;

                }
                h4 {
                    color: #02F;
                    font-family: Sora;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;

                }
                button {
                    border: none;
                    outline: none;
                    display: flex;
                    padding: 25px 50px;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 12px;
                    border-radius: 25px;
                    background: linear-gradient(180deg, #0A8621 0%, #3C462A 86.22%);
                    box-shadow: 0 0 11.6px 15px rgba(0, 0, 0, 0.08) inset;
                    .div-title {
                        display: flex;
                        align-items: center;
                        gap: 25px;
                        img  {
                            width: 51.0px;
                            height: 51.0px;
                            object-fit: cover;

                        }
                        h2 {
                            color: #FFF;
                            text-align: right;
                            font-family: Sora;
                            font-size: 36px;
                            font-style: normal;
                            font-weight: 600;
                            line-height: normal;

                        }

                    }
                    .div-bot {
                        display: flex;
                        width: 100%;
                        align-items: center;
                        gap: 10px;
                        p {
                            color: #FFF;
                            text-align: right;
                            font-family: Sora;
                            font-size: 24px;
                            font-style: normal;
                            font-weight: 600;
                            line-height: normal;

                        }
                        .div-flex {
                            display: flex;
                            justify-content: flex-end;
                            align-items: center;
                            gap: 10px;
                            flex: 1 0 0;

                        }

                    }
                }

            }

        }
      }
    }







    &.active {
        display: block;
    }
}

span.highlight {
    position: relative;
    display: inline-block;
}

span.highlight::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 00%;
    transition: 500ms ease-in-out;
    height: 50%;
    opacity: 0.25;
    background: #F00;
    z-index: -1;
}
span.highlight.active::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    transition: 500ms ease-in-out;
    width: 100%;
    height: 50%;
    opacity: 0.25;
    background: #F00;
    z-index: -1;
}




  .div-container-window {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            flex-shrink: 0;
            border-radius: 25px;
            border: 4px solid rgba(0, 0, 0, 0.06);
            background: #F0F8FF;
            width: 1231.0px;
            height: 751.0px;
            aspect-ratio: 1231/751;
            overflow: hidden;
            .div-window-header-nav {
                display: flex;
                padding: 14px 26px;
                align-items: center;
                gap: 10px;
                width: calc(100% - 26px * 2);
                height: 54.0px;

                background: linear-gradient(0deg, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.05) 100%), #F0F8FF;
                .div-round-1 {
                    width: 26.0px;
                    height: 26.0px;
                    border-radius: 99px;
                    background: #F00;

                }
                .div-round-2 {
                    width: 26.0px;
                    height: 26.0px;
                    border-radius: 99px;
                    background: #FFEA00;

                }
                .div-round-3 {
                    width: 26.0px;
                    height: 26.0px;
                    border-radius: 99px;
                    background: #13DE13;

                }

            }
            .div-window-container {
                display: flex;
                align-items: center;
                gap: 10px;
                flex-shrink: 0;
                background: #FFF;
                flex: 1 0 0;
                width: 100%;
                position: relative;

            }
        }